

:not(i), h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #4d4d4c;
}

iframe, video {
        max-width:100%;
}

label {
    font-weight: 600;
}
.container .jumbotron, .container-fluid .jumbotron {
    border-radius: 0px;
    padding-right: 20px;
    padding: 20px;
}

.jumbotron p {
    margin-bottom: 0px;
}

.pointer {
    cursor: pointer;
    display: block;
}

.semi-bold, .semi-bold * {
    font-weight: 600 !important;
}

.extra-bold, .extra-bold * {
    font-weight: 800 !important;
}

.carousel-caption * {
    color: #fdfdfd;
}

.margin-30-0 {
    margin: 30px 0px;
}

.margin-60-0 {
    margin: 60px 0px;
}

.borderRightOrange {
    border-right: 1px solid #e36e29;
}

.desktop-margin-top-90 {
    margin-top: 90px;
}

.desktop-margin-90 {
    margin-top: 90px;
    margin-bottom: 90px;
}

.video, video {
    display: inline-block;
}

.font-1 {
    font-weight: 300 !important;
}
.font-2 {
    font-size: 23px;
    font-weight: 700;
}
.font-3 {
    font-size: 60px;
    font-weight: 600;
}

.cor-1 {
    color: #86a355;
}

.cor-2 {
    color:#e7683f;
}

.cor-3 {
    color:#a2a2a2;
}
.cor-4 {
    color:#0d113d;
}

.cor-5 {
    color:#000;
}

.cor-1-extra-bold {
    color: #86a355;
    font-weight: 800;
}

.cor-2-extra-bold {
    color:#e7683f;
    font-weight: 800;
}



.botao-1 {
    border: 1px solid #fff;
    padding: 10px 40px;
    color: #fff;
}

.botao-1:hover {
    border-color: #536730;
    background-color: #86a355;
    color: #fff;
}


.botao-2 {
    border: 1px solid #000;
    padding: 8px 40px;
    font-size: 15px;
    font-weight: 500;
}

.botao-2:hover {
    border-color: #536730;
    background-color: #86a355;
    color: #fff;
}

.botao-3 {
    border-color: #536730;
    background-color: #86a355;
    color: #fff;
    padding: 8px 40px;
    font-size: 15px;
    font-weight: 500;
}

.botao-3 img {
    width: 27px;
    margin: 7px;
}

.botao-3:hover {
    border-color: #e56b36;
    background-color: #e56b36;
    color: #fff;
}


.botao-4 {
    border-color: #e56b36;
    background-color: #e56b36;
    color: #fff;
    padding: 8px 40px;
    font-size: 15px;
    font-weight: 500;
}

.botao-4:hover {
    border-color: #536730;
    background-color: #86a355;
    color: #fff;
}

.botao-5 {
    border-color: #e56b36;
    background-color: #e56b36;
    color: #fff;
    padding: 8px 14px;
    font-size: 13px;
    font-weight: 500;
}

.botao-5:hover {
    border-color: #536730;
    background-color: #86a355;
    color: #fff;
}

.botao-6 {
    border-color: #000000;
    background-color: #fbfbfb;
    color: #000;
    padding: 8px 14px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0px;
}

.botao-6:hover {
    border-color: #536730;
    background-color: #86a355;
    color: #fff;
}

.desktop {
    display: block;
}

.mobile {
    display: none !important;
}

img {
    max-width: 100%;
}

img.media-object {
    max-width: initial;
}

.banners img {
    width: 100%;
}

.padding-0 {
    padding: 0px;
}

.header .navbar {
    background: #ffffffb3;
    padding: 15px;
    border-bottom: 1px solid rgba(77, 77, 76, 0.4);
}

.header.bg-1 .navbar {
    background: #c5c5c5;
    border-bottom-color: transparent;
}

.header.nav-up .navbar {
    top: -100px;
}

.header .nav li.active a, .header .nav li a:focus, .header .nav li a:hover, .header .nav li a:hover .caret, .header .nav li a:focus .caret {
    background-color: transparent;
    color: #e7683f;
}

.header a {
    text-transform: uppercase;
}

.header .redes-sociais i {font-size: 17px;color: #86a355;}

.header .redes-sociais i:hover {
    color: #e56e3a;
}

img.logo {
    margin-top: -19px;
    width: 192px;
    height: auto;
}
img.logo-mobile {
    width: 130px;
    margin-top: -12px;
    margin-left: -15px;
}

button.navbar-toggle {
    border: 1px solid #4d4d4c;
    margin-top: 0px;
}

button.navbar-toggle .icon-bar {
    background-color: #4d4d4c;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.carousel-indicators li {
    width: 68px;
    height: 9px;
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    margin: 0px;
}

.carousel-indicators .active {
    width: 68px;
    background-color: #e7683f;
    height: 9px;
    border: none;
}

.carousel-caption {
    bottom: 40%;
    padding: 0px;
}

.banner-descritions {
    padding: 15px;
}

.banner-titles * {
    font-size:50px;
}

.shape {
    position: relative;
    padding-left: 13px;
}


.shape:before {
    content: "";
    position: absolute;
    height: 106%;
    width: 11px;
    top: -3px;
    left: 0px;
    background: url("../img/icons/shape.png") left center no-repeat;
    background-size: contain;
}

.shape2 {
    position: relative;
    padding-left: 13px;
}


.shape2:before {
    content: "";
    position: absolute;
    height: 106%;
    width: 11px;
    top: -3px;
    left: 0px;
    background: url("../img/icons/shape2.png") left center no-repeat;
    background-size: contain;
}


.shape3 {
    position: relative;
    padding-left: 13px;
}


.shape3:before {
    content: "";
    position: absolute;
    height: 106%;
    width: 11px;
    top: -3px;
    left: 0px;
    background: url("../img/icons/shape4.png") left center no-repeat;
    background-size: contain;
}

.shape4:after {
    content: "";
    width: 48%;
    display: block;
    margin-top: 5px;
    height: 5px;
    border-radius: 5px;
    background: #fff;
}

.shape5:after {
    content: "";
    width: 19%;
    display: block;
    margin-top: 5px;
    height: 5px;
    border-radius: 5px;
    background: #86a355;
}

.shape6 {
    display: inline-block;
}

.shape6:after {
    content: "";
    width: 85%;
    display: inline-block;
    top: -15px;
    position: relative;
    height: 5px;
    border-radius: 5px;
    background: #e16842;
}


.shape7 {
    display: inline-block;
}

.shape7:after {
    content: "";
    width: 40%;
    display: inline-block;
    top: -15px;
    position: relative;
    height: 5px;
    border-radius: 5px;
    background: #e16842;
}

.descrition {
    margin: 20px 0px;
}


.homeIcones {
    max-width: 49px;
    margin-top: -11px;
}

.box-ofertas div a {
    position: relative;
    float: left;
    margin: 10px 0px;
    width: 100%;
    display: block;
}

.box-ofertas div a:hover .sombra, .box-ofertas div a.active .sombra {
    display: block;
}

.box-ofertas-hover-2 div a:hover .sombra, .box-ofertas-hover-2 div a.active .sombra {
    display: none;
}

.box-ofertas div a img {
    width: 100% !important;
    border-radius: 6px;
    height: auto !important;
    max-height: 255px;
}

.box-ofertas .nome-da-oferta {
    position: absolute;
    color: #fff;
    padding: 5px 18px;
    left: 0px;
    bottom: 15px;
    max-width: 90%;
    background-color: #86a355;
}

.box-ofertas .nome-da-oferta-2 {
    position: absolute;
    color: #fff;
    padding: 5px 18px;
    right: 0px;
    bottom: 50px;
    max-width: 90%;
    font-size:17px;
    text-transform:uppercase;
    font-weight:600;
}


.box-ofertas .nome-da-oferta-3 {
    position: absolute;
    color: #fff;
    padding: 5px 18px;
    left: 0px;
    top: 40%;
    width: 100%;
    font-size:17px;
    text-transform:uppercase;
}

.sombra {
    float: left;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    display: none;
    border-radius: 6px;
}

.box-ofertas-hover-2 .sombra {
    display: block;
}

.box-verde {
    background-color: #86a355;
    padding: 30px 0px;
    color: #fff;
}

.box-verde *{
    color: #fff;
}


.setas {
    margin-top: 21px;
    width: 56px;
    float: right;
}

.setas i {
    color: #86a355;
    font-size: 26px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
}

.setas i:hover {
    color: #e7683f;
}

.noticias a {
    float: left;
    width: 100%;
    padding: 10px 0px;
}

.noticias a:hover * {
    font-weight: bold;
}



.footer {
    background-color: #222222;
}
.footer, .footer p, .footer a {
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    margin-top: 10px;
}

.footer {
    padding-top: 90px;
    padding-bottom: 10px;
}

.footer .lista {
    list-style: none;
}


.footer .borderLeftGreen {
    border-left: 1px solid #86a355;
}


.footer .borderTopGreen {
    border-top: 1px solid #86a355;
}


.footer .lista li {
    padding: 8px;
}


.footer .lista a:hover {
    text-decoration: none;
    color: #e56b36;
}

.footer .copyright {
    margin-top: 40px;
    padding-top: 20px;
}

.footer .redes-sociais i {font-size: 16px;margin-left: 10px;}

.footer .redes-sociais a:hover {
    text-decoration: none;
    color: #e56b36;
}

.scroll-left {
    display: block;
    height: 100%;
    max-height: 700px;
    overflow-x : hidden;
    overflow-y : auto;
    direction: rtl;
    text-align: left;
    padding-left: 10px;
}

.filtro-links li a:after {
    content: '|';
    margin: 10px;
}

.filtro-links li.active a {
    font-weight:bold;
}


.filtro-links li.active a:after {
    font-weight:normal;
}

.filtro-links {
    margin: 20px 0px;
    display: block;
}

.box-receitas {
    border: 1px solid black;
    padding: 10px 15px;
    margin: 20px auto;
    /* min-height: 515px; */
}

.box-receitas h3 {
    height: 40px;
}

.box-receitas > div.text-justify {
    height: 66px;
    overflow: hidden;
}

.box-receitas h3 a {
    overflow: hidden;
    max-height: 38px;
    display: block;
}

ul.lista-estilo-1 {
    list-style: none;
    padding-left: 10px;
}

ul.lista-estilo-1 li:before {
    content: '- ';
}
.carrinho .price {
    font-size: 17px;
    margin: 10px auto;
    display: block;
    color: #424242;
}

.carrinho .linha-produto {
    margin-bottom: 15px;
}

.botoes-estilo-1 > input {
    height: 40px;
    min-width: 46px;
    font-size: 16px;
    border: 1px solid #00000070;
    font-weight: 700;
    border-radius: 9px !important;
    -webkit-box-shadow: 0px 0px 6px #999 inset;
    -moz-box-shadow: 0px 0px 6px #999 inset;
    box-shadow: 0px 0px 6px #4d4d4c inset;
    text-align: center;
}

.botoes-estilo-1 .input-group-btn > button {
    background: transparent;
    border: none;
    color: #d85f38;
}

.botoes-estilo-1 {
    margin: 7px auto;
    max-width: 135px;
}

.table-estilo-1 * {
    font-weight: 600;
}

.table-estilo-1 i {
    font-size: 20px;
}

.table-estilo-1 i.fa.fa-spinner {
    color: #c06746;
}

.table-estilo-1 i.fa.fa-close {
    color: #d55968;
}

.table-estilo-1 i.fa.fa-send-o {
    color: #6693b1;
}

.table-estilo-1 i.fa.fa-check {
    color: #5d9949;
}

.table-estilo-1 thead th {
    background: #444744;
    color: #fff;
}

.table-estilo-1.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #eceff1;
}

.box-1 {
    box-shadow: 0 0px 12px -2px #00000040;
    padding: 40px;
    margin-bottom: 20px;
}
.img-pequena img {
    width: 100px;
    height:auto;
    margin: auto;
}

.slider-fotos-produtos-lista.slick-slider * {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.slider-fotos-produtos-lista .bt-prev, .slider-fotos-produtos-lista .bt-next {
    line-height: 44px;
    position: absolute;
    top: 50%;
    display: block;
    width: 26px;
    height: 51px;
    padding: 0px 6px;
    margin-top: -26px;
    cursor: pointer;
    color: white !important;
    border: none;
    z-index: 9;
    outline: none;
    background: #7f7f7f;
    font-size: 47px;
}

.slider-fotos-produtos-lista .bt-next {
    right: 0px;
}

.container-slider-fotos {
    position: relative;
}

.container-slider-fotos .slick-slide img {
    margin: 10px auto;
}

.slider-fotos-produtos-lista {
    max-width: 80%;
    margin: auto;
}

button.btn-search {
    height: 34px !important;
    background: #c1c2c5;
    border-left: none;
    border-top: 1px solid #a2a3a6;
    border-bottom: 1px solid #a2a3a6;
    border-right: 1px solid #a2a3a6;
}

html .redes-sociais button.btn-search i {
    color: #ed6f50;
}

input#busca {
    background: #c0c2c5;
    color: #88a349;
    border: none;
    box-shadow: none;
    width: 140px;
    border-radius: 0px;
    border-left: 1px solid #a2a3a6;
    border-top: 1px solid #a2a3a6;
    border-bottom: 1px solid #a2a3a6;
}


input#busca::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #88a349;
}
input#busca::-moz-placeholder { /* Firefox 19+ */
  color: #88a349;
}
input#busca:-ms-input-placeholder { /* IE 10+ */
  color: #88a349;
}
input#busca:-moz-placeholder { /* Firefox 18- */
  color: #88a349;
}

.header ul.nav.navbar-nav li a {
    font-size: 12px;
}

form#frmBus {
    max-width: 200px;
}
ul.nav.navbar-nav.redes-sociais > li {
    max-width: 59%;
}

.scroll-left .row.box-ofertas.box-ofertas-hover-2 .col-sm-12.col-xs-6 {
    width: 100%;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  width: max-content;
}

.navbar-nav li:hover > ul {
    display: block !important;
}


/* ------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (-webkit-max-device-pixel-ratio:1.5), only screen and (max-resolution:144dpi) {

    .banner-titles * {
        font-size: 50px;
    }

}

@media only screen and (max-width:2560px) {

    .banner-titles * {
        font-size: 54px;
    }

.carousel-caption {
    bottom: 30%;
}

    .banner-descritions {
        font-size: 18px;
    }

}

@media only screen and (max-width:1440px) {
    .banner-titles * {
        font-size: 43px;
    }

    .carousel-caption {
        bottom: 21%;
    }
}


@media only screen and (max-width:1280px) {

}
@media only screen and (min-width:1200px) {
    html .container {
        width: 1248px;
    }
}

@media only screen and (max-width:1140px) {

}



@media only screen and (max-width:1024px) {

    .carousel-caption {
        bottom: 14%;
    }

    .banner-titles * {
        font-size: 36px;
    }
    .banner-descritions {
        font-size: 15px;
    }
}

@media only screen and (max-width:768px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block !important;
    }

    .padding-0 {
        padding: auto;
    }

    div#myNavbar {
        border-top: 1px solid rgba(77, 77, 76, 0.4);
    }

    .header nav.navbar.navbar-fixed-top {
        border-bottom: 1px solid rgba(77, 77, 76, 0.4);
    }

    .carousel-caption {
        bottom: 15%;
    }

    #myCarousel2 .carousel-caption {
        bottom: 0px;
    }

    .banner-titles * {
        font-size: 27px;
    }
    .banner-descritions{
        font-size: 11px;
        padding: 5px;
    }


    .botao-1 {
        padding: 8px 25px;
        font-size: 10px;
    }

    .header nav.navbar.navbar-fixed-top {
        position: relative;
        margin: 0px;
    }

    .banners .carousel-indicators {
        bottom: 0px;
    }

    .carousel-indicators li {
        width: 40px;
    }

    .carousel-indicators li.active{
        width: 40px;
    }

    .scroll-left {
        overflow-x: hidden;
        overflow-y: hidden;
        max-height: none;
        padding: 0px;
    }

    .desktop-margin-top-90 {
        margin-top: -40px;
    }

    #detalhes .desktop-margin-top-90 {
        margin-top: auto;
    }
    .desktop-margin-90 {
        margin-top:10px;
       margin-bottom: 10px;
    }

    .footer ul.lista {
        padding-left:5px;
    }

    .footer .borderLeftGreen {
        border:none;
    }

    .borderRightOrange {
        border-color: transparent;
    }

    .order-detail-content > div {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }

    .margin-60-0 {
        margin: 30px 0px;
    }
    .register-benefits {
        margin: 21px 0px!important;
    }

    .slider-fotos-produtos-lista.slick-slider img {width: 66px;}

    .slider-fotos-produtos-lista .bt-next {
        right: -15px;
    }

    .slider-fotos-produtos-lista .bt-prev {
        left: -15px;
    }

    .shape7:after {
        width: 70%;
    }

    ul.nav.navbar-nav.redes-sociais > li {
        float: left;
        display: inline-block;
        margin: 10px;
    }

    ul.nav.navbar-nav.redes-sociais {width: 167px;float: left;}

    div#myNavbar {
        overflow: inherit;
    }

    body img.logo {margin-top: -14px;width: 134px;height: auto;}

}

@media only screen and (max-width: 560px) {
    .banner-titles *{
        font-size: 16px;
        margin-top: 10px;
    }

    .banner-descritions {
        font-size: 9px;
    }

    .banners .botao-1 {
        font-size: 6px;
    }


}

@media only screen and (max-width:375px) {

    .banner-descritions {
        font-size: 7px;
    }

    .banner-titles * {
        font-size: 13px;
    }

#myCarousel2 h2.semi-bold {
    margin-bottom: 10px !important;
}

    .header .navbar {
        padding: 11px;
    }

}
